{% extends 'base.html' %} {%block title%} MicroInsurance {% endblock %} {% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ Form }}
  <button class="btn btn-primary btn-sm" type="submit" name="create">
    Submit
  </button>
  <button
    class="btn btn-primary btn-sm"
    type="submit"
    name="action"
    value="export"
  >
    Export to Excel
  </button>
</form>
<div class="card mb-3">
  <div class="card-body p-2">
    <div class="tab-content">
      <div
        class="tab-pane preview-tab-pane active"
        role="tabpanel"
        aria-labelledby="tab-dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
        id="dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
      >
        <div
          id="tableExample"
          data-list='{"valueNames":["PolicyNumber","AssuredName","LoanCode","BatchId"],"page":12,"pagination":true}'
        >
          <div class="table-responsive scrollbar">
            <table class="table table-bordered table-striped fs--1 mb-0">
              <thead class="bg-200 text-900">
                <tr>
                  <th class="sort" data-sort="LedgerNo">PolicyNumber</th>
                  <th class="sort" data-sort="PolicyNo">AssuredName</th>
                  <th class="sort" data-sort="VoucherNo">LoanCode</th>
                  <th class="sort" data-sort="VoucherNo">BatchId</th>
                  <th class="sort" data-sort="VoucherNo">Premium</th>

                </tr>
              </thead>
              <tbody class="list">
                {{error}}
                {% for items in data %}
                <tr>
                 
                  <td class="BranchName">{{ items.PolicyNumber }}</td>
                  <td class="BankShortName">{{ items.AssuredName }}</td>
                  <td class="AccountNumber">{{ items.LoanCode }}</td>
                  <td class="AccountNumber">{{ items.BatchId }}</td>
                  <td class="AccountNumber">{{ items.Premium }}</td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row align-items-center mt-3">
            <div class="pagination d-none"></div>
            <div class="col">
              <p class="mb-0 fs--1">
                <span
                  class="d-none d-sm-inline-block"
                  data-list-info="data-list-info"
                ></span>
                <span class="d-none d-sm-inline-block"> &mdash; </span>
                <a class="fw-semi-bold" href="#!" data-list-view="*"
                  >View all<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span></a
                ><a class="fw-semi-bold d-none" href="#!" data-list-view="less"
                  >View Less<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span
                ></a>
              </p>
            </div>
            <div class="col-auto d-flex">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                data-list-pagination="prev"
              >
                <span>Previous</span>
              </button>
              <button
                class="btn btn-sm btn-primary px-4 ms-2"
                type="button"
                data-list-pagination="next"
              >
                <span>Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
