{% extends 'base.html' %} {%block title%} DASHBOARD {% endblock %} 
{% block content %}

<!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %} -->


<div class="card mb-3">
  
  <div class="card-body pt-0">
    <div class="tab-content">
      <div
        class="tab-pane preview-tab-pane active"
        role="tabpanel"
        aria-labelledby="tab-dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
        id="dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
      >
        <div
          id="tableExample"
          data-list='{"valueNames":["title"],"page":10,"pagination":true}'

        >
        <div class="d-flex align-items-center justify-content-between">
          <!-- <div class="search-box">
        <form class="position-relative " data-bs-toggle="search" data-bs-display="static">
          <input class="form-control search-input fuzzy-search" type="search" placeholder="Search..." aria-label="Search" />
          <span class="fas fa-search search-box-icon"></span>
        </form>
      </div> -->
        <div class="card-header">
          <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <button
                class="btn btn-primary btn-sm"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
                >Add Bank Statements</button>
            </div>
          </div>
        </div>
      </div>
          <div class="table-responsive scrollbar">
            <table id='Mytable' class="display nowrap ">
              <thead class="bg-200 text-900">
                <tr>
                  <!-- # data-sort="BankName" -->
                  <th class="sort" >BankName</th> 
                  <th class="sort" >BankShortName</th>
                  <th class="sort">LedgerNo</th>
                  <th class="sort" >Amount:</th>
                  <th class="sort" >LatestDate</th>
                  <th class="sort" >EditDate</th>
                  <th class="sort">EDIT||DELETE</th>
                </tr>
              </thead>
              <tbody class="list mb-2">
                {% for items in bankStateData %}
                <tr>
                  <td class="BankName title">{{ items.BankName }}</td>
                  <td class="BankShortName">{{ items.BankShortName }}</td>
                  <td class="LedgerNo">{{ items.LedgerNo }}</td>
                  <td class="Amount">{{ items.Amount }}</td>
                  <td class="LatestDate">{{ items.LatestDate }}</td>
                  <td class="LatestDate">{{ items.EditDate }}</td>
                  <td>
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#EditModal"
                      onclick="openModal({RowId:' {{ items.RowId }}',BankName:'{{ items.BankName }}', BankShortName:'{{ items.BankShortName }}', LedgerNo:'{{ items.LedgerNo }}', Amount: '{{ items.Amount }}', LatestDate:'{{ items.LatestDate|date:'Y-m-d'}}', EditDate:'{{ items.EditDate|date:'Y-m-d' }}'})"
                    >
                      EDIT
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <a class="text-white text-decoration-none" href="{% url 'delete_bankstate' pk=items.RowId %}"
                        >Delete</a
                      >
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tbody class="border border-2">
              <tr >
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>{{totalAmount}}</td>
                <td></td>
              </tr>
            </tbody>
            </table>
          </div>
          <div class="row align-items-center mt-3">
            <div class="pagination d-none"></div>
            <div class="col">
              <p class="mb-0 fs--1">
                <span
                  class="d-none d-sm-inline-block"
                  data-list-info="data-list-info"
                ></span>
                <span class="d-none d-sm-inline-block"> &mdash; </span>
                <a class="fw-semi-bold" href="#!" data-list-view="*"
                  >View all<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span></a
                ><a class="fw-semi-bold d-none" href="#!" data-list-view="less"
                  >View Less<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span
                ></a>
              </p>
            </div>
            <div class="col-auto d-flex">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                data-list-pagination="prev"
              >
                <span>Previous</span>
              </button>
              <button
                class="btn btn-sm btn-primary px-4 ms-2"
                type="button"
                data-list-pagination="next"
              >
                <span>Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="card-header">
        <div class="col-auto align-self-center">
            <p>Summary</p>
        </div>
    </div>
    <div class="table-responsive scrollbar">
      <table class="table table-bordered table-striped fs--1 mb-0 border border-2">
        <thead class="bg-200 text-900">
          <tr>
            <th>BankName</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for bank_summary in SummaryData %}
          <tr>
            <td>{{ bank_summary.BankShortName}}</td>
            <td>{{ bank_summary.total_amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>

<!-- AddModal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border"></div>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border">
      <form method="post" enctype="multipart/form-data" action="{% url 'create_bankstate' %}">
        <div class="modal-header px-card bg-light border-bottom-0">
          <h5 class="modal-title">Add Statements</h5>
          <button
            class="btn-close me-n1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-card">
        {% csrf_token %} {{ form.as_p }}
        <button class="btn btn-primary btn-sm" type="submit" name="create">Submit</button>

        </div>
      </form>
    </div>
  </div>
</div>


<!-- EditModal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border"></div>
  </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border">
      <form id="editModal" autocomplete="off"  method="POST"  action="{% url 'edit_bankstate' %}">
        <div class="modal-header px-card bg-light border-bottom-0">
          <h5 class="modal-title">Edit BankStatement</h5>
          <button
            class="btn-close me-n1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        {% csrf_token %}
        <div class="modal-body p-card">
          <div class="mb-3">
            <input
              class="form-control"
              id="editRowId"
              type="hidden"
              name="RowId"
              required="required"
            />
          <div class="mb-3">
            <label class="fs-0" for="eventTitle">BankName</label>
            <input
              class="form-control"
              id="editBankName"
              type="text"
              name="BankName"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventStartDate">Bank ShortName</label>
            <input
              class="form-control"
              id="editBankShortName"
              type="text"
              name="BankShortName"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">LedgerNo</label>
            <input
              class="form-control"
              id="editLedgerNo"
              type="text"
              name="LedgerNo"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">Amount</label>
            <input
              class="form-control"
              id="editAmount"
              type="number"
              name="Amount"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">LatestDate</label>
            <input
              class="form-control datetimepicker"
              id="editLatestDate"
              type="date"
              name="LatestDate"
              readonly
              placeholder="yyyy/mm/dd hh:mm"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">EditDate</label>
            <input
              class="form-control datetimepicker"
              id="editEditDate"
              type="date"
              name="EditDate"
              placeholder="yyyy/mm/dd hh:mm"
              required="required"
            />
          </div>
          
        </div>
        </div>
        <div class="col-auto order-md-0 p-card text-end">
          <button class="btn btn-primary btn-sm " type="submit" >Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function openModal(data) {
    console.log(data);
    for (const key in data) {
      if (Object.hasOwnProperty.call(data, key)) {
        const value = data[key] || "";
        console.log('value',value)
        console.log('key',key);
        // Set the value of the corresponding input field
        document.getElementById("edit" + key).value = value;
      }
    }
  }
</script>

<!-- For value exchange-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var bankNameSelect = document.getElementById('id_BankName');
      var bankShortNameInput = document.getElementById('id_BankShortName');
      var ledgerNoInput = document.getElementById('id_LedgerNo');

      var bankMapping = {
        'Citizen Bank Limited, Surkhet': {'shortName': 'CBL', 'ledgerNo': '100014'},
        'Nepal Investment Mega Bank Limited': {'shortName': 'NIBL', 'ledgerNo': '100016'},
        'Citizen Bank Limited, HO': {'shortName': 'CBL', 'ledgerNo': '100017'},
        'Citizen Bank Limited, Narayanghat': {'shortName': 'CBL', 'ledgerNo': '200002'},
        'Citizen Bank Limited, Banepa': {'shortName': 'CBL', 'ledgerNo': '200011'},
        'Nabil Bank Limited, HO-5397': {'shortName': 'NBL', 'ledgerNo': '200015'},
        'Nabil Bank Limited, HO-5399': {'shortName': 'NBL', 'ledgerNo': '200016'},
        'Citizen Bank Limited, Kohalpur': {'shortName': 'CBL', 'ledgerNo': '200023'},
        'Citizen Bank Limited, Tulsipur': {'shortName': 'CBL', 'ledgerNo': '200028'},
        'Citizen Bank Limited, Hetauda': {'shortName': 'CBL', 'ledgerNo': '200029'},
        'Citizen Bank Limited, Jitpur': {'shortName': 'CBL', 'ledgerNo': '200030'},
        'Citizen Bank Limited, Janakpur': {'shortName': 'CBL', 'ledgerNo': '200065'},
        'Citizen Bank Limited, Taulihawa': {'shortName': 'CBL', 'ledgerNo': '200066'},
        'Prime Commercial Bank': {'shortName': 'PCB', 'ledgerNo': '200070'},
        'Kumari Bank Limited, Kalimati': {'shortName': 'KBL', 'ledgerNo': '200071'},
        'Garima Bikas Bank Limited, BKT': {'shortName': 'GBBL', 'ledgerNo': '200072'},
        // Add more mappings as needed
    };

      function updateFields() {
          var selectedBankCode = bankNameSelect.value;

          if (bankMapping[selectedBankCode]) {
              bankShortNameInput.value = bankMapping[selectedBankCode].shortName;
              ledgerNoInput.value = bankMapping[selectedBankCode].ledgerNo;
          } else {
              bankShortNameInput.value = '';
              ledgerNoInput.value = '';
          }
      }

      bankNameSelect.addEventListener('change', updateFields);

      // Call updateFields initially to set the initial values
      updateFields();
  });
</script>
<!-- <script>
  $('#Mytable').DataTable( {
    buttons: [
        {
            extend: 'csv',
            text: 'Copy all data',
            exportOptions: {
                modifier: {
                    search: 'none'
                }
            }
        }
    ]
} );
</script> -->
<script>
  $(document).ready(function() {
    // Initialize DataTable with Buttons extension
    $('#Mytable').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'excelHtml5',
          text: 'Export to Excel',
          className: 'btn btn-success', // Add a custom class for styling
          exportOptions: {
            columns: ':not(:last-child)' // Exclude the last column
          }
        },
      ],
      // columnDefs: [
      //   { targets: [7], orderable: false, searchable: false } // Assuming edit and delete columns are at indices 3 and 4
      // ]
    });
  });
</script>

{% endblock %}
