{% extends 'base.html' %} {%block title%} DASHBOARD {% endblock %} 
{% block content %}
<!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %} -->

<div class="card mb-3 p-3">
  
  <div class="card-body pt-0">
    <div class="tab-content">
      <div
        class="tab-pane preview-tab-pane active "
        role="tabpanel"
        aria-labelledby="tab-dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
        id="dom-316cb649-6a3e-4ec3-9de8-7d83e880873f"
      >
        <div
          id="tableExample"
          data-list='{"valueNames":["title"],"page":10,"pagination":true}'
        >
          <div class="table-responsive scrollbar">
            <table id='Mytable' class="table table-bordered table-striped fs--1 mb-0">
              <thead class="bg-200 text-900">
                <tr>
                  <!-- # data-sort="BankName" -->
                  <th class="sort" >Branch</th>
                  <th class="sort" >Province</th> 
                  <th class="sort">TodayPremium</th>
                  <th class="sort" >TotalPremium:</th>
                  <th class="sort" >Employeeid</th>
                  <th class="sort" >CreatedDate</th>
                  <th class="sort" >EditDate</th>
                  <th class="sort">EDIT||DELETE</th>
                </tr>
              </thead>
              <tbody class="list mb-2">
                {% for items in data %}
                <tr>
                  <td class="BranchCode">{{ items.BranchCode }}</td>
                  <td class="ProvinceCode ">{{ items.ProvinceCode }}</td>
                  <td class="TodayPremium">{{ items.TodayPremium }}</td>
                  <td class="TotalPremium">{{ items.TotalPremium }}</td>
                  <td class="EmployeeId">{{ items.EmployeeId }}</td>
                  <td class="CreatedDate">{{ items.CreatedDate }}</td>
                  <td class="EditDate">{{ items.EditDate }}</td>
                  <td>
                    <button
                      class="btn btn-primary btn-sm"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#EditModal"
                      onclick="openModal({
                        RowId:' {{ items.RowId }}',
                        ProvinceCode:'{{ items.ProvinceCode }}',
                        BranchCode:'{{ items.BranchCode}}',
                        TodayPremium:'{{ items.TodayPremium }}',
                        TotalPremium: '{{ items.TotalPremium }}', 
                        EmployeeId: '{{ items.EmployeeId }}', 
                        CreatedDate:'{{ items.CreatedDate|date:'Y-m-d'}}',  EditDate:'{{ items.EditDate|date:'Y-m-d' }}'
                        })"
                    >
                      EDIT
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <a class="text-white text-decoration-none" href="{% url 'delete_premium' pk=items.RowId %}"
                        >Delete</a
                      >
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tbody class="border border-2">
              <tr >
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>{{totalAmount}}</td>
                <td></td>
              </tr>
            </tbody>
            </table>
          </div>
          <!-- <div class="row align-items-center mt-3">
            <div class="pagination d-none"></div>
            <div class="col">
              <p class="mb-0 fs--1">
                <span
                  class="d-none d-sm-inline-block"
                  data-list-info="data-list-info"
                ></span>
                <span class="d-none d-sm-inline-block"> &mdash; </span>
                <a class="fw-semi-bold" href="#!" data-list-view="*"
                  >View all<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span></a
                ><a class="fw-semi-bold d-none" href="#!" data-list-view="less"
                  >View Less<span
                    class="fas fa-angle-right ms-1"
                    data-fa-transform="down-1"
                  ></span
                ></a>
              </p>
            </div>
            <div class="col-auto d-flex">
              <button
                class="btn btn-sm btn-primary"
                type="button"
                data-list-pagination="prev"
              >
                <span>Previous</span>
              </button>
              <button
                class="btn btn-sm btn-primary px-4 ms-2"
                type="button"
                data-list-pagination="next"
              >
                <span>Next</span>
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="card-header">
        <div class="col-auto align-self-center">
            <p>Summary</p>
        </div>
    </div>
    <div class="table-responsive scrollbar">
      <table class="table table-bordered table-striped fs--1 mb-0 border border-2">
        <thead class="bg-200 text-900">
          <tr>
            <th>BankName</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for bank_summary in SummaryData %}
          <tr>
            <td>{{ bank_summary.BankShortName}}</td>
            <td>{{ bank_summary.total_amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>

<!-- AddModal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border"></div>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border">
      <form method="post" enctype="multipart/form-data" action="{% url 'creat_premium' %}">
        <div class="modal-header px-card bg-light border-bottom-0">
          <h5 class="modal-title">Add Premium</h5>
          <button
            class="btn-close me-n1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-card">
        {% csrf_token %} {{ Form.as_p }}
        <button class="btn btn-primary btn-sm" type="submit" name="create">Submit</button>=
        </div>
      </form>
    </div>
  </div>
</div>


<!-- EditModal -->
<div class="modal fade" id="eventDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border"></div>
  </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border">
      <form id="editModal" autocomplete="off"  method="POST"  action="{% url 'edit_premium' %}">
        <div class="modal-header px-card bg-light border-bottom-0">
          <h5 class="modal-title">Edit BankStatement</h5>
          <button
            class="btn-close me-n1"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        {% csrf_token %}
        <div class="modal-body p-card">
          <div class="mb-3">
            <input
              class="form-control"
              id="editRowId"
              type="hidden"
              name="RowId"
              required="required"
              />
              <div class="mb-3">
                <label class="fs-0" for="eventStartDate">BranchCode</label>
                <input
                  class="form-control"
                  id="editBranchCode"
                  type="text"
                  name="BranchCode"
                  required="required"
                />
              </div>    
          <div class="mb-3">
            <label class="fs-0" for="eventTitle">ProvinceCode</label>
            <input
              class="form-control"
              id="editProvinceCode"
              type="text"
              name="ProvinceCode"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">TodayPremium</label>
            <input
              class="form-control"
              id="editTodayPremium"
              type="text"
              name="TodayPremium"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">TotalPremium</label>
            <input
              class="form-control"
              id="editTotalPremium"
              type="text"
              name="TotalPremium"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">EmployeeId</label>
            <input
              class="form-control"
              id="editEmployeeId"
              type="text"
              name="EmployeeId"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">CreatedDate</label>
            <input
              class="form-control datetimepicker"
              id="editCreatedDate"
              type="date"
              name="CreatedDate"
              readonly
              placeholder="yyyy/mm/dd hh:mm"
              required="required"
            />
          </div>
          <div class="mb-3">
            <label class="fs-0" for="eventEndDate">EditDate</label>
            <input
              class="form-control datetimepicker"
              id="editEditDate"
              type="date"
              name="EditDate"
              placeholder="yyyy/mm/dd hh:mm"
              required="required"
            />
          </div>
          
        </div>
        </div>
        <div class="col-auto order-md-0 p-card text-end">
          <button class="btn btn-primary btn-sm " type="submit" >Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function openModal(data) {
    console.log(data);
    for (const key in data) {
      if (Object.hasOwnProperty.call(data, key)) {
        const value = data[key] || "";
        console.log('value',value)
        console.log('key',key);
        // Set the value of the corresponding input field
        document.getElementById("edit" + key).value = value;
      }
    }
  }
</script>

<script>
  $(document).ready(function() {
    // Initialize DataTable with Buttons extension
    $('#Mytable').DataTable({
      dom: 'Bfrtip',
      buttons: [
      {
          text: 'Add Bank Statements',
          className: 'btn btn-primary',
          action: function () {
            // Trigger the modal when the button is clicked
            $('#addModal').modal('show');
          }
        },
        // {
        //   extend: 'excelHtml5',
        //   text: 'Export to Excel',
        //   className: 'btn btn-success', // Add a custom class for styling
        //   exportOptions: {
        //     columns: ':not(:last-child):not(:nth-child(5))' // Exclude the last column
        //   }
        // },
       
      ],
      // columnDefs: [
      //   { targets: [7], orderable: false, searchable: false } // Assuming edit and delete columns are at indices 3 and 4
      // ]
    });
  });
</script>



{% endblock %}